.form{
    border: darkgrey solid 1px;
    border-radius: 8px;
    padding: 20px;
    margin-left: 450px;
    margin-right: 450px;
}

.title{
    text-align: center;
}



/* Decoration */

.required{
    color: red;
}