.form{
    border: darkgrey solid 1px;
    border-radius: 8px;
    padding: 20px;
    margin-left: 30vw;
    margin-right: 30vw;
}

.title{
    text-align: center;
}



/* Decoration */

.required{
    color: red;
}

/*  */

.forum-body{
    margin-left: 450px;
    margin-right: 450px;
    text-align: justify;

}

.search-bar{
    margin-bottom: 20px;
}

.text{
    width: 100px
}

.checkicon {
    color: white;
    position: absolute;
    margin-left: 3px;
    margin-top: 4px;
    width: 14px;
    height: 14px;
    border-bottom: solid 1px currentColor;
    border-left: solid 1px currentColor;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

.dropdown-item{
    display: block;
    margin-left: 10px;
    margin-bottom: 5px;
}

.circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.imagenavbar{
    padding: unset;
    display: flex;
    align-items: center;
}

.default-font-color{
    color:#9d9d9d;
}


  
  
