.form{
    border: darkgrey solid 1px;
    border-radius: 8px;
    padding: 20px;
    margin-left: 30vw;
    margin-right: 30vw;
}

.forum-body{
    margin-left: 450px;
    margin-right: 450px;
    text-align: justify;

}

.search-bar{
    margin-bottom: 20px;
}

.text{
    width: 100px
}

.dropdown-item{
    display: block;
    margin-left: 10px;
    margin-bottom: 5px;
}

.circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.imagenavbar{
    padding: unset;
    display: flex;
    align-items: center;
}

.add-container{
    right: 0;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #29b586;
    bottom: 0;
    margin-bottom: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.searchcontainer{
    border:unset;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbox{
    width: calc(100% - 30px) !important;
}

.threadsearch{
    margin-top: 50px;
    display: flex;
}

.nothread{
    margin-bottom: 20px;
}

.panel-thread{
    display:flex;
    justify-content: space-between;
}

.form-profile{
    margin-left: 20vw;
    margin-right: 20vw;
}

.profile-container{
    display: flex;
    justify-content: space-between;
}

.profile-image{
    width: 300px;
    margin-right: 20px;
}

.category{
    margin-right: 30px;
}

.success-selected{
    color: white;
    background-color: #9accb8 !important;
    border-color: #9accb8 !important;
}

.danger-selected{
    color: white;
    background-color: #e08b93 !important;
    border-color: #e08b93 !important;
}

.icon-withtext{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.custom-padding{
    padding-left: unset !important;
    padding-top: unset !important;
    padding-bottom: unset !important;
}

/* Decoration */

.required{
    color: red;
}

.default-font-color{
    color:#9d9d9d;
}

.title{
    text-align: center;
}

.small{
    font-size: 85% !important;
}

.verysmall{
    font-size:55% !important;
}

.btn-warning{
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}

.btn-danger{
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.borderless{
    border: unset !important;
}

/*  */

  
  
