.form{
    border: darkgrey solid 1px;
    border-radius: 8px;
    padding: 20px;
    margin-left: 30vw;
    margin-right: 30vw;
}

.title{
    text-align: center;
}



/* Decoration */

.required{
    color: red;
}

.forum-body{
    margin-left: 450px;
    margin-right: 450px;
    text-align: justify;

}

.search-bar{
    margin-bottom: 20px;
}

.text{
    width: 100px
}

